version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - backend
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.todo.rule=Host(`todo.localhost`)"
      - "traefik.http.services.todo.loadbalancer.server.port=80"
    networks:
      - default
      - traefik

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    # Ports removed to force access via todo.localhost/api
    environment:
      - DB_PATH=/data/database.sqlite
    volumes:
      - db-data:/data
    restart: always

volumes:
  db-data:


networks:
  traefik:
    external: true
    name: devcontainer_merkandi-network
